html {
    background: #000000
}
body {
    background: #262626;
    height: 100%;
  }

.header {
    display:-webkit-flex;
    width: 100%;
    height: 75px;
    background: #0d0d0d;
}

.title {
    display: -webkit-flex;
    align-self: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-indent: 25px;
    color: #f0f0f0;
  }

.titleimg {
    display: -webkit-flex;
    align-self: center;
    width: 150px;
    margin-left: 15px;
}

.redirects {
    margin-left: 50px;
    align-self: center;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 30px;
    color: #f0f0f0;
}
